@import 'tailwindcss';

body {
	@apply bg-black text-white select-none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	@apply my-1 border-2 border-green-700 p-2 text-white outline-0 duration-200 focus:border-green-500;
}

input[type='button'],
button,
.button {
	@apply cursor-pointer bg-green-700 p-2 duration-200 hover:bg-green-500;
}

.invalid {
	@apply !border-red-700 focus:!border-red-500;
}

.contact {
	@apply mb-2 cursor-pointer bg-green-950 p-2;
}

.contact:hover {
	@apply bg-green-900;
}

.username {
	@apply text-lg;
}

.email {
	@apply text-sm;
}
